<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBkl3y1Xn1owca-KK8Kb_z10FLmFEKdVAU</string>
	<key>GCM_SENDER_ID</key>
	<string>791160633379</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gymAppTfg</string>
	<key>PROJECT_ID</key>
	<string>gym-app-tfg</string>
	<key>STORAGE_BUCKET</key>
	<string>gym-app-tfg.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:791160633379:ios:415d8533f9d8cb203f1996</string>
</dict>
</plist>